input, select{
    width: 500px;
    height: 30px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin-top: 15px;

}

select{
    width: 513px;
}

.button{
    margin-left: 50px;
    margin-top: 15px;
    height: 30px;
    width: 200px;
}